<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self' https:;
    style-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;
    font-src 'self' https://fonts.gstatic.com;object-src;
    base-uri 'none';
    require-trusted-types-for 'script';" /> #}
    <title>Projeto Finanças</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.ico" />
    {# <link rel="stylesheet" href="../assets/css/styles.min.css" /> #}
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    
    <!-- CHART -->
    <script src="assets/libs/chartjs/chart.js"></script>
    <!-- SWEETALERT -->
    <script src="assets/libs/sweetalert/sweetalert2.js"></script>

    <script src="js/app.js"></script>
</html>